.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--grey-light-1);

    // # for test remove it after finish the style
    height: 80vh;
    box-shadow: var(--box-shadow);
}

.header {}

.content {}

.sidebar {}

.hotel-view {}